<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="capgroup.adventuretask" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Stats"
            android:label="@string/title_activity_stats" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name=".Discoveries"
            android:label="@string/title_activity_discoveries" >
        </activity>
        <activity
            android:name=".Quests"
            android:label="@string/title_activity_quests" >
        </activity>
        <activity
            android:name=".LevelUp"
            android:label="@string/title_activity_level_up" >
        </activity>
    </application>

</manifest>
